.table {
  &__row {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }
  }
  &__head {
    th {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    &__row {
      font-size: 12px;
      width: 100%;
      td,
      th {
        padding: 0;
      }
    }
  }
}

.empty {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.7;
}
